In [54]:
a, b = 10, 3

#Pertambahan
print (a+b)
hasil = a+b

#Perkurangan
print (a-b)
hasil = a-b

#Perkalian
print(a*b)
hasil = a*b

#Divisi
print(a/b)
hasil = a/b

#Modulus
print(a%b)
hasil = a%b

#Eksponen
print(a**b)
hasil = a**b

#Floor Division
print(a//b)
hasil = a//b

13
7
30
3.3333333333333335
1
1000
3

In [55]:
a = 10
print ('a = 10 ->', a)

a += 5
print ('a += 5 ->', a)

a -= 3
print ('a -= 3 ->', a)

a *= 6
print ('a *= 6 ->', a)

a /= 8
print ('a /= 8 ->', a)

a = 10 -> 10
a += 5 -> 15
a -= 3 -> 12
a *= 6 -> 72
a /= 8 -> 9.0

In [28]:
a = 5
b = 2
c = 10
d = 20
hasil = a*b**2+c/d

print (hasil)

20.5

In [34]:
#example
a = 10
b = 5

print (a , b, '=', a > b)
print (a, '<', b, '=', a < b)
print (a, '==', b, '=', a == b)

10 > 5 = True
10 < 5 = False
10 == 5 = False

In [73]:
#latihan

print (400, '=', 100, '<', 400 < 100)
print ('10 x 2 = 20', 10*2==20)
print (50, '=', 10, '>', 50 > 10)
print ('50 x 2 != 100', 50*2!=100)
print ('2*3*4 >= 24', 2*3*4>=24)

400 = 100 < False
10 x 2 = 20 True
50 = 10 > True
50 x 2 != 100 False
2*3*4 >= 24 True

In [86]:
#latihan

murah = True
diskon = True
tidak_murah = False

print ("murah dan diskon = " + str(murah and diskon))
print ("tidak murah = " + str(not tidak and laku))

murah dan diskon = True
tidak murah = False

In [93]:
a = 5
b = 5

list_a = [1, 2, 3]
list_b = [1, 2, 3]
nama_a = 'budi'
nama_b = 'budi'

#output True
print ('a is b :', a is b)
#output True
print ('a is not b :', a is not b)

#output False
print ('list_a is list_b :', list_a is list_b)
#output True
print('list_a == list_b :', list_a == list_b)

#output True
print ('nama_a is nama_b :', nama_a is nama_b)
#output False
print ('nama_a is not nama_b :', nama_a is not nama_b)

a is b : True
a is not b : False
list_a is list_b : False
list_a == list_b : True
nama_a is nama_b : True
nama_a is not nama_b : False

In [100]:
#example

bahasa_1 = 'Indonesia'
bahasa_2 = 'Inggris'

#output False
print ('bahasa_1 is bahasa_2 :', bahasa_1 is bahasa_2)
#output True
print ('bahasa_1 is not bahasa_2 :', bahasa_1 is not bahasa_2)

bahasa_1 is bahasa_2 : False
bahasa_1 is not bahasa_2 : True

In [119]:
perusahaan = 'Google'
list_kota = ['Bandung, Jakarta, Surabaya']

mahasiswa = {
    'nama':'Aimm',
    'asal':'Cibaduyut'
}

print (
    "Apakah 'c' ada di variabel perusahaan?", 'c' in perusahaan
)
print (
    "Apakah 'z' ada di variabel perusahaan?", 'z' not in perusahaan
)

Apakah 'c' ada di variabel perusahaan? False
Apakah 'z' ada di variabel perusahaan? True

In [133]:
#biner dari angka 0
print(format(0, '08b' ))
0

#biner dari angka 1
print(format(1, '08b' ))
1

#biner dari angka 2
print(format(2, '08b' ))
10

#biner dari angka 37
print(format(37, '08b' ))
101

00000000
00000001
00000010
00100101

101

In [143]:
#biner dari angka 104
print('huruf h =',format(104, '08b'))

#biner dari angka 101
print('huruf e =',format(101, '08b'))

#biner dari angka 108
print('huruf l =',format(108, '08b'))

#biner dari angka 108
print('huruf l =',format(108, '08b'))

#biner dari angka 111
print('huruf o =',format(111, '08b'))

huruf h = 01101000
huruf e = 01100101
huruf l = 01101100
huruf l = 01101100
huruf o = 01101111